backend/simple-service/.project
backend/simple-service/.project
backend/simple-service/.classpath
backend/simple-service/.settings/org.eclipse.jdt.core.prefs
backend/simple-service/twitter4j.properties